@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Lobster&family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif:wght@400;700&display=swap');
//font-family: 'Lobster', cursive;
body{
	font-family: 'Inter', sans-serif;font-weight: normal;font-style: normal;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Inter', sans-serif;
}
.none{display: none;}
li{
	list-style-type: none;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}